body {
	background: url('/images/background.png') no-repeat center center fixed;
	background-size: cover;

	@apply text-gray-900 dark:text-gray-200;
}

#__next::before {
	content: '';
	position: fixed;
	pointer-events: none;
	z-index: -1;

	@apply inset-0 bg-gray-100/75 dark:bg-gray-900/90;
}
